/*     
    Name: _header.scss    
    Author: Zakaria El Khachia
    Client:
*/

header {
  position: fixed;
  width: 100%;
  padding: 3rem;
  background: $white;
  transition: $t-all;
  z-index: 20;

  @media #{$max-phone} {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &.scrolled {
    padding: 1.8rem 3rem;
  }

  .top-header {
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-link {
      display: inline-block;
      color: $black;
      a {
        font-weight: normal;
        .initial-part {
          @extend .size-4;
          font-family: $FontMedium;
          text-transform: uppercase;
        }

        .logo-part {
          @extend .size-5;
          font-family: $FontMedium;
          position: relative;
          overflow: hidden;
          text-transform: uppercase;

          &:after {
            content: "";
            display: inline-block;
            @include size(100%, 110%);
            position: absolute;
            top: -5%;
            left: 0;
            background-color: $white;
            transition: $t-all;
            transform: translateX(100%);
          }

          &.scrolled {
            &:after {
              transform: translateX(0%);
            }
          }
        }
      }
    }

    .logo-signature {
      text-align: center;
      padding-top: 0.6rem;
      left: 50%;
      position: absolute;
      transform: translateX(-60px);
      transition: opacity 0.3s ease;
      display: none;

      img {
        width: 120px;
      }

      &.off {
        opacity: 0;
      }
    }
  }
}
