/*     
    Name: _single.scss    
    Author: Zakaria El Khachia
    Client: Grace Choy
*/

#single {
  #single-intro {
    padding-top: 240px;
    padding-bottom: 100px;
    .boxed {
      h2 {
        @extend .size-2;
        text-align: center;
        margin: 2rem auto;
        display: block;
      }
      .intro-txt {
        max-width: 500px;
        @extend .size-4;
        text-align: center;
        margin: 0 auto;
        display: block;
      }
    }
  }

  #single-content {
    padding-top: 0;
    padding-bottom: 0;
    .gallery-wrapper {
      .cover {
        @include size(100%, 100%);
        margin-bottom: 15rem;
        position: relative;
        overflow: hidden;

        .cover-mask {
          display: none;
          width: 100%;
          height: 100%;
          background: #fff;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0.9;
          left: 0;
          transform: translate3d(0, 0, 0);
          transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

          //   &.off {
          //     transform: translate3d(0, 100%, 0);
          //   }
        }

        img {
          width: 50%;
          max-width: 600px;
          margin: auto;
          display: block;
        }
      }

      .gallery-item {
        @include size(100%, 100%);
        margin-bottom: 15rem;
        position: relative;
        display: flex;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          max-height: 80vh;
        }

        &.g-full {
          img {
            width: 100%;
          }
        }

        &.g-left {
          justify-content: flex-start;
          img {
            max-width: 55vw;
            margin: 0;
          }
        }

        &.g-right {
          justify-content: flex-end;
          img {
            max-width: 55vw;
          }
        }

        &.g-center {
          img {
            max-width: 60vw;
            margin: auto;
            display: block;
          }
        }
      }
    }

    .next-post-nav {
      display: block;
      margin: 5rem auto 0;
      text-align: center;
      transform: translateX(0px);
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

      .next-link {
        @extend .size-7;
        font-family: $FontBold;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;

        &:before {
          content: attr(data-label);
          position: absolute;
          font-family: $FontBold;
          top: 0;
          left: 0;
          width: 0%;
          overflow: hidden;
          white-space: nowrap;
          color: $red;
          transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }

      .stroke {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 1px;
        background: $black;
        margin: 0 1rem;
      }

      .next-label {
        @extend .size-3;
        font-family: $FontBold;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;

        &:before {
          content: attr(data-label);
          position: absolute;
          font-family: $FontBold;
          top: 0;
          left: 0;
          width: 0%;
          overflow: hidden;
          white-space: nowrap;
          color: $red;
          transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
        }
      }

      &:hover {
        // transform: translateX(10px);

        .next-link {
          &:before {
            width: 100%;
          }
        }

        .next-label {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
