/*     
    Name: _variables.scss    
    Author: Zakaria El Khachia
    Client: Grace Choy
*/

/* Colors */

$black: #0a0a0a;
$white: #ffffff;
$gray: #4f4f4f;
$red: #dd0c3d;

/* Fonts */

$FontLight: "Helvetica-Neue-Light", Arial, sans-serif;
$FontMedium: "Helvetica-Neue-Medium", Arial, sans-serif;
$FontBold: "Helvetica-Neue-Bold", Arial, sans-serif;

/* Transforms */

$t-all: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-left: left 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-transform: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-width: width 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$t-fill: fill 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);

/* Breakpoints */

$max-phone: "only screen and (max-width : 600px)";
$max-tablet: "only screen and (max-width : 768px)";
$max-laptop: "only screen and (max-width : 1280px)";

$min-phone: "only screen and (min-width : 320px)";
$min-tablet: "only screen and (min-width : 768px)";
$min-laptop: "only screen and (min-width : 1280px)";
